<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*<link href="~/Content/menu.css" rel="stylesheet" />*@
    <link href="~/Scripts/media/css/jquery.dataTables.css" rel="stylesheet" />"
    <script src="~/Scripts/media/js/jquery.js"></script>
    <script src="~/Scripts/media/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela').dataTable({
                "language": {
                    "lengthMenu": "Exibindo _MENU_ Registros por página",
                    "zeroRecords": "Não acho nada",
                    "info": "Exibindo _PAGE_ de _PAGES_",
                    "infoEmpty": "Não existe registros",
                    "infoFiltered": "(Filtrado de _MAX_ Registros)",
                    "search": "Pesquisa",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext": "Seguinte",
                        "sLast": "Último"
                    }
                }
            });
        });
        //$(document).ready(function () {
        //    var classeTd = "";
        //    $("#tabela td").each(function () {
        //        var tdPrioridade = $(this).nextAll("#id_prioridade");
        //        alert(tdPrioridade.html());
        //        switch (tdPrioridade.html()) {
        //            case "Normal":
        //                alert("entrou no normal")
        //                classeTd = "info";
        //                $("#tabela td").addClass(classeTd);
        //                break;
        //            default:
        //                alert("não entrou");
        //                break;
        //        }
        //    });
        //});
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("csslogin", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Cliente", "Index", "Cliente")</li>
                        <li>@Html.ActionLink("Servico", "Index", "Servico")</li>
                        <li>@Html.ActionLink("Setor", "Index", "Setor")</li>
                        <li>@Html.ActionLink("Status", "Index", "Status")</li>
                        <li>@Html.ActionLink("Tecnico", "Index", "Tecnico")</li>
                        <li>@Html.ActionLink("Tipo Servico", "Index", "TipoServico")</li>
                        <li>@Html.ActionLink("Os", "Index", "Os")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Tempo Médio de Atendimento", "Relatorio", "Relatorio")</li>
                                @*<li>@Html.ActionLink("Tempo Médio de Atendimento por Tipo Serviço", "", "Relatorio")</li>
                                    <li>@Html.ActionLink("Tempo Médio de Atendimento por técnico", "", "Relatorio")</li>*@
                                <li><a href="#">Tempo Médio de Atendimento por Tipo Serviço</a></li>
                                <li><a href="#">Tempo Médio de Atendimento por técnico</a></li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="content container">
        <div class="row">

        </div>
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>@ViewBag.TituloPanel</h4>
                </div>
                <div class="panel-body">
                    @RenderBody()
                </div>
                <div class="panel-footer">
                    <div style="text-align: center; font-size: 0.9em;">
                        Help Desk é um serviço da FA Informática
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
