@model HelpDesk2.Models.Os

@{
    ViewBag.Title = "Close";
    ViewBag.TituloPanel = "Ordem de Serviço";
}

@using (Html.BeginForm("Close", "Os", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    <fieldset>
        <legend></legend>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                @Html.LabelFor(model => model.Descricao, new { @class = "form-label" })
                @Html.TextBoxFor(model => model.Descricao, "", new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.Descricao)</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6">
                @Html.LabelFor(model => model.ClienteId, "Cliente", new { @class = "form-label" })
                @Html.DropDownListFor(model => model.ClienteId, (IEnumerable<SelectListItem>)ViewBag.ClienteId, new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.ClienteId)</p>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                @Html.LabelFor(model => model.Prioridades, new { @class = "form-label" })
                @Html.EnumDropDownListFor(model => model.Prioridades, new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.Prioridades)</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6 col-md-6">
                @Html.LabelFor(model => model.Data, new { @class = "form-label" })
                @Html.EditorFor(model => model.Data, new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.Data)</p>
            </div>

            <div class="form-group col-lg-6 col-md-6">
                @Html.LabelFor(model => model.UserId, "Usuario", new { @class = "form-label" })
                @Html.DropDownListFor(model => model.UserId, (IEnumerable<SelectListItem>)ViewBag.UsersId, new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.UserId)</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                @Html.LabelFor(model => model.StatusId, "Status", new { @class = "form-label" })
                @Html.DropDownListFor(model => model.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusId, new { @class = "form-control" })
                <p>@Html.ValidationMessageFor(model => model.StatusId)</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                @Html.LabelFor(model => model.MsgNota, "Nota", new { @class = "form-label" })
                @Html.TextAreaFor(model => model.MsgNota, 5, 100, new { @class = "form-control textareanota" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                @Html.HiddenFor(model => model.HoraAbertura, new { @class = "form-control" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                <table id="tabela" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Operador</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Nota)
                        {
                            <tr>
                                <td width="110">@item.Operador</td>
                                <td>@item.Descricao</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12 col-md-12">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
