@*@model IEnumerable<HelpDesk2.Models.Os>*@
@model PagedList.IPagedList<HelpDesk2.Models.Os>

@{
    ViewBag.Title = "Index";
    ViewBag.TituloPanel = "Ordem de Serviço";
}

<p>
    @Html.ActionLink("Novo", "Create")
</p>

<table id="tabela" class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Cliente
            </th>
            <th>
                Status
            </th>
            <th>
                Tecnico
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Prioridades)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td id="id_prioridade">
                    @Html.DisplayFor(modelItem => item.Prioridades)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-pencil", title = "Editar" })
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-file", title = "Detalhe" })
                    @Html.ActionLink(" ", "Close", new { id = item.Id }, new { @class = "btn btn-info glyphicon glyphicon-remove-circle", title = "Fechar" })
                </td>
            </tr>
        }
    </tbody>

</table>

